.wrapper {
    width: 300%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.logo {
  font-size: 16rem;
  font-weight: 900;
  position: fixed;
  z-index: 10;
  top: 2.80%;
  left: 2.2rem;
  line-height: 0.9;
  color: var(--text);
}

.line {
  background-color: var(--secondary-color);
  height: 2rem;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

section.character:before {
  content: "";
  width: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.block {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: translateX(-100%);
}

.mariano:before,
.mariano .block {
  background-color: var(--primary-color);
}

.mariano-2:before,
.mariano-2 .block {
  background-color: var(--tertiary-color);
}


.caption {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
    width: 30%;
    font-weight: 400;
    color: #444;
    font-family: monospace;
    transform: translate(100%, 100%);
}

.character img {
    position: relative;
    z-index: 10;
    height: 70vh;
    width: auto;
    left: 4rem;
    bottom: -10rem;
    transform: translateY(-100%);
    /* mix-blend-mode:exclusion */

}

.huge-text {
    font-size: 25rem;
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(100%);
    font-weight: 700;
}

.nickname {
    position: absolute;
    top: 7rem;
    right: 4rem;
    font-size: 3rem;
    text-align: right;
    transform: translateY(-200%); 
    color: var(--text);
}

.nickname span {
    display: block;
    font-size: 70%;
    /* color: #fff; */
}

.quote {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    font-size: 3rem;
    width: 30%;
    text-align: right;
    transform: translateY(200%);
    color: var(--text);
}

.quote:before, .quote::after {
    content: "";
    color: #fff;
} 