@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ripple {
    height: 100vh;
    /* padding: 8rem 4rem; */
    background: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/sand2tiny.jpg');
    /* transform: rotate(90deg); */
    filter: grayscale(1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: multiply;
    position: relative;
   
}


.inner__ripple {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 10rem; */
    /* z-index: -1; */
    color: white;
    font-family: 'Italiana', serif;
    position: absolute;
    

}


.word__rigth {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    font-size: 3rem;
    color: black;
    bottom: 2%;
    right: 10%;
    text-transform: uppercase;
    letter-spacing: -0.29rem;
    opacity: 0;
}


.word__left {
    position: absolute;
    bottom: 2%;
    left: 10%;
    font-size: 3rem;
    color: black;
    letter-spacing: -0.29rem;
    text-transform: uppercase;
    /* text-shadow: 30px -33px; */
    opacity: 0;
}