@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;

  --bg: #F1E7E4;
  --primary-color : #6279B8;
  --secondary-color: #D19C1D;
  --tertiary-color: #43AA8B;
  --text: #181528;
}

body {
  font-family: 'Bebas Neue', cursive;
  min-height: 100vh;
  line-height: 1.3;
  font-size: 16px;
  background-color: var(--bg);
  overflow: scroll;
  position: relative;
}



section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}